@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blue ">Giới Thiệu Bánh</h1>
    @{ ViewData["Title"] = "SUNRISE BAYKERY";
        <img src="https://images.giaoducthoidai.vn/Uploaded/thuyvt/2018-08-17/30655681000dca60c7f23o1534423352545905665327_KGRP.jpg" />
        <div class="new_name">
            <h2>
                <a href="tin-tuc/cong-thuc-lam-banh-kem-chocolate-men-390.html"> CÔNG THỨC LÀM BÁNH KEM CHOCOLATE MỀM</a>
            </h2>
        </div>
        <div class="new_des">

            <p>
                Nguyên liệu <br />

                240g đường nâu<br />

                60ml dầu thực vật<br />

                240g sữa chua không đường<br />

                1 thìa cafe tinh chất vani<br />

                180g bột mì đa dụng<br />

                8 thìa súp bột cacao<br />

                1 thìa cafe bột baking powder<br />

                1 chút muối<br />

                Phần xốt phủ<br />

                75g kem tươi<br />

                75g chocolate đen<br />

            </p>

            <p>Cách làm</p>
            <p>
                Bước 1:

                Bật lò nướng ở 180 độ C. Cho đường, dầu ăn, sữa chua và vani vào trộn đều.
            </p>
            <img src="https://images.giaoducthoidai.vn/Uploaded/thuyvt/2018-08-17/30655677910c5216fe6e2ocopy15344233525421101697268_CRVO.jpg" />


            <p>
                Bước 2:

                Sau đó rây bột mì, bột cacao, baking soda và muối vào tô. Dùng phới dẹt trộn đều.
            </p>
            <img src="https://files.giaoducthoidai.vn/Uploaded/thuyvt/2018-08-17/306556765004c2113deecocopy1534423352540569716443_UXXE.jpg"/>

            <p>
                Bước 3:

                Chống dính cho khuôn loaf sau đó đổ bột vào. Đem nướng bánh trong khoảng 35-40 phút là bánh chín.

                Đun nóng kem tươi sau đó từ từ cho phần chocolate bào nhỏ vào, khuấy đều cho tới khi chocolate tan hoàn toàn. Đợi bánh nguội thì đổ hỗn hợp xốt lên trên mặt bánh sau đó để ngăn mát tủ lạnh để phần xốt này đông lại. 
                Như thế là bạn đã hoàn thành món bánh chocolate sữa chua mềm ẩm thơm ngon rồi.
            </p>

            <img src="https://files.giaoducthoidai.vn/Uploaded/thuyvt/2018-08-17/30655681000dca60c7f23o1534423352545905665327_JAHR.jpg"/>

            

        </div>
        }
    </div>