@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blue ">Welcome</h1>
    @{
    ViewData["Title"] = "SUNRISE BAYKERY";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/index.css" />
<p>XIN KÍNH CHÀO QUÝ KHÁCH.</p>


<div class="container">
    <link rel="stylesheet" href="~/css/Indext.css" />
    <a class="csw-media" href="#">
        <img src="https://cdn.pastaxi-manager.onepas.vn/content/uploads/articles/mau-banh-kem-socola-dep-2.jpg" width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh kem gấu socola </div>
    </a>

    <a class="csw-media" href="#">
        <img src="https://lambanhngon.com/product_pictures/banh-sinh-nhat-mini-bento-cake-ve-hinh-tang-sinh-nhat-dang-yeu-8777-banh-gato-sinh-nhat-dep-hunnie-cake-fhr1631420477.jpg" width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh BenTo</div>
    </a>

    <a class="csw-media" href="#">
        <img src="http://file.hstatic.net/1000396324/article/banh-flan-socola-1_0daeee2baf604e848a52574cb83ee993_1024x1024.jpg" width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Plan Chocolate</div>
    </a>

    <a class="csw-media" href="#">
        <img src="https://i.ytimg.com/vi/lB4qxj4fT3E/mqdefault.jpg" width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Mỳ Sốt Phomai</div>
    </a>

    <a class="csw-media" href="#">
        <img src="https://banhkemdep.com/files/product/banh-kem-sinh-nhat-zk6wabvt.jpg " width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Kem Sinh Nhật</div>
    </a>
    <a class="csw-media" href="#">
        <img src="https://file.hstatic.net/1000206480/file/12eb697a8077476e98fcbb20580a6314_a9f20ac5655c44a0bfe3596276bbcf05_2048x2048.jpg " width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Kem Tiệc Cưới</div>
    </a>
    <a class="csw-media" href="#">
        <img src="https://diadiemshophoa.vn/wp-content/uploads/2021/12/02f6767f-8d87-49a0-8cb7-9ea9abfd8485.jpg " width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Kem Mừng Tuổi Ông Bà</div>
    </a>
    <a class="csw-media" href="#">
        <img src="https://vuatrangtri.vn/wp-content/uploads/2020/04/71684616_2704266952916950_2603763286851715072_n.jpg " width="250" height="250" />
        <div class="duoi_phai"style="color:blue">Bánh Kem Thôi Nôi</div>
    </a>
</div>
</div>
