@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blue ">Sunrise Menu</h1>
    @{ ViewData["Title"] = "SUNRISE BAYKERY";
    
    }
    
    <link rel="stylesheet" href="~/css/Menu.css" />


    <img src="https://images.foody.vn/res/g103/1022847/s800/foody-sunrise-bakery-nguyen-trung-ngan-988-636800403000157269.jpg" />
    <img src="https://images.foody.vn/res/g103/1022847/s800/foody-sunrise-bakery-nguyen-trung-ngan-881-636800403004376348.jpg"/>
    

</div>
