@{ 
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <h1 class="display-4" style="color: blue "> BẢNG GIÁ BÁNH </h1>
        <img src="https://cf.shopee.vn/file/c8f18a0ca7ac920eb03c62b0b3b8e654" width="270">
        <p>Sunrise Bánh Ăn Kiêng Yến Mạch Nutri Gain 178G</p>
        <img src="https://cf.shopee.vn/file/22883b5a8a9dbb7c2ec9cb943919b0fa" width="270">
        <p>Sunrise Bánh Ăn Kiêng Fine Yến Mạch 178G</p>
        <img src="https://p-vn.ipricegroup.com/f2bb3bcae1bed229aa3155222514a2a26a157d5e_0.jpg?position=10" width="270" />
        <p>Bánh Kem Matcha</p>
        <img src="https://p-vn.ipricegroup.com/f2bb3bcae1bed229aa3155222514a2a26a157d5e_0.jpg?position=10" width="270" />
        <p>Nho Khô Mỹ Sunview Raisins 425g</p>
        <img src="https://p-vn.ipricegroup.com/3a97126baa7eb560a99239d6434934d59022c5a9_0.jpg?position=19" width="270" />
        <p>Bánh KitKat Matcha</p>
        <img src="https://p-vn.ipricegroup.com/f4c32cea5eda98aa108a1e07f2e5d6d41a12cb1b_0.jpg?position=22" width="270" />
        <p>Bánh Yến Mạch Nguyên Chất</p>
        <img src="https://p-vn.ipricegroup.com/41d72cd59e7273d87846834626dee1a55ee64a48_0.jpg?position=28" width="270" />
        <p>Bánh yến mạch mè đen ăn kiêng FINE, healthy và giữ dáng, tốt cho người tiểu đường, tập gym, ăn kiêng, hộp 178g</p>
        <img src="https://p-vn.ipricegroup.com/943da37d06b2af1653868dc95b8eed8c957a6db4_0.jpg?position=62" width="270" />
        <p>Ngũ cốc Muesli ăn kiêng giảm cân Muesli Mix Fruits Sunrise</p>
</div>