@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blue ">Tin Tức Khuyến Mãi</h1>
    @{ ViewData["Title"] = "SUNRISE BAYKERY";


        <img src="https://i.imgur.com/QrCiYaQ.jpeg" />
        <div class="new_name">
            <h2>
                <a href="tin-tuc/tet-ngot-ngao-trao-tinh-sunrise-390.html"> TẾT NGỌT NGÀO TRAO TÌNH SUNRISE</a>
            </h2>
        </div>
        <div class="new_des">
            <p>
                Tọa lạc giữa Sài thành hoa lệ, SUNRISE BAKERY mang đến một thế giới bánh ngọt hương vị thơm ngon,
                đầy màu sắc và là địa chỉ quen thuộc của các bạn trẻ tìm đến thưởng thức hoặc mua về.

                Tiệm bánh...
            </p>
        </div>
        

    }
    <img src="https://cdn.popsww.com/blog-kids/sites/3/2022/05/y-nghia-ngay-quoc-te-thieu-nhi.jpg"/>
    <div class="new_name">
        <h2>
            <a href="tin-tuc/Chao-mung-ngay-le-quoc-te-thieu-nhi-390.html"> CHÀO MỪNG NGÀY LỄ QUỐC TẾT THIẾU NHI</a>
        </h2>
    </div>
    <div class="new_des">
        <p>Mừng Ngày Quốc tế Thiếu Nhi 1/6, con của ba mẹ hãy cứ sống đúng tuổi thơ của mình. Hãy biết ăn, biết học, biết cười, biết khóc, biết nói xin lỗi, biết cảm ơn. Ba mẹ sẽ luôn ở bên con.</p>
    </div>
   


</div>
